body{
    background-color: black;
    color: white;
    margin: 50px auto ;

}
header{

}
#logo{
    color: ivory;
    margin: 100px auto;
}
aside{
    float: left;
    
    
}
section{
    float: center;
    margin: 50px auto;;
}
nav{
    color: black;
    background-color: yellow;
}
#nav{
    display: inline;
    
}
#doc{
    margin: 100px auto;
    text-align: center;
}
h1{
    font-size: 50px;
}

footer{
    clear:both;

}