body{
    background-color: black;
    color: white;
    margin: 50px auto ;

}
header{

}
#logo{
    color: ivory;
    margin: 100px auto;
}
aside{
    float: left;
}
nav{
    color: black;
    background-color: yellow;
}
#nav{
    display: inline;
}
#doc{
    float: right;
    text-align: justify;
    margin: 100px auto;
    padding: 15px;
}
#imagen{
    text-align: center;
}
h1{
    font-size: 50px;
}

footer{
    clear:both;

}


#logo{
    text-align: center;

}